<!DOCTYPE html>
<html>
<head>
    <title>OrgNode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/javaScriptAndCssLinks.ejs%>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <form action="/login" method="post">
        <div class="input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="username">Username</label>
            <input class="mdl-textfield__input" type="text" id="username" name="username">
        </div>
        <div class="input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label class="mdl-textfield__label" for="password">Password</label>
            <input class="mdl-textfield__input" type="password" id="password" name="password">
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>

</div>
</body>
</html>