<html lang="en">
<head>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel='stylesheet' href='/stylesheets/material.min.css' />
    <script src="/javascripts/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
<h1><%= failed_attempts %></h1>
<form action="/signup/submit" method="post">
    <div class="input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="email">E-Mail</label>
        <input class="mdl-textfield__input" type="text" id="email" name="email">
    </div>
    <div class="input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="password">Password</label>
        <input class="mdl-textfield__input" type="password" id="password" name="password">
    </div>
    <div class="input mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="email">Confirm Password</label>
        <input class="mdl-textfield__input" type="password" id="confirm_password" name="confirm_password">
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Sign Up</button>
</form>
<%if (errors) {%>
    <% for (var i=0; i < errors.length; i++) {%>
        <h1><%= errors[i].msg %></h1>
    <%}%>
<%}%>
</body>
</html>